@media screen and (max-width: 800px) {
  body {
    max-width: 800px;
  }

  .container {
    width: 400px;
  }

  .nav-list {
    display: none;
  }

  .page-header {
    height: 100px;
  }

  .page-header-cont {
    display: flex;
    justify-content: space-between;
  }

  /* trying adaptive menu */
  .topnav li:first-child {
    margin-top: 25px;
  }

  .topnav li:not(:last-child) {
    display: none;
  }

  .topnav {
    position: relative;
  }

  .topnav a.icon {
    position: absolute;
    left: -20px;
    top: 20px;
  }

  .topnav.responsive li {
    display: block;
  }

  .contacts-list {
    display: none;
  }

  /* Modal */

  .modal {
    width: 300px;
    height: 400px;
  }

  .modal form {
    display: block;
  }

  .modal form > ul:last-child {
    display: none;
  }

  /* Index */

  .hero {
    background-image: url(../img/Hero-container.jpg);
    background-size: cover;
    height: auto;
  }

  .hero-title {
    display: none;
  }

  .section.hero {
    margin: 0 auto;
  }

  .welcome p.main-text {
    width: auto;
    text-align: center;
    margin: 0 auto;
  }

  .time > .container {
    width: 350px;
  }

  /* Services */
  .services-list,
  .prices-list {
    display: none;
  }

  .services-list-adaptive .services-item {
    margin-bottom: 25px;
  }

  /* Info */

  .info .section-title {
    margin-bottom: 0;
    font-size: 30px;
    text-transform: none;
    margin-right: 20px;
  }

  .info-item p,
  .info-item li {
    font-size: 18px;
  }

  .info-item {
    justify-content: space-between;
    padding: 20px 10px;
  }

  /* Contacts */

  .section.main-map iframe {
    width: 100%;
    height: 300px;
  }

  /* Footer */

  .map {
    display: none;
  }
}

@media (min-width: 801px) {
  .nav-list-adaptive {
    display: none;
  }

  .services-list-adaptive {
    display: none;
  }

  .submit-adaptive {
    display: none;
  }
}
