.main-contacts-item {
  text-align: center;
}

.main-contacts-item > a {
  font-size: 18px;
  font-weight: 400;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-contacts-item > a:hover {
  color: var(--hover-color);
}

.main-contacts-item:not(:last-child) {
  margin-bottom: 10px;
}

.section.main-map {
  padding-top: 0;
}

.section.main-map iframe {
  width: 1170px;
  height: 900px;
}
