.set-items-in-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header ul {
  list-style-type: none;
}

.bg-dark li a {
  color: white
}

.languages:not(:last-child) {
  margin-right: 50px;
}

.languages > li {
  color: #ffffff;
}

#social-links > ul > li {

}

#logo {

}
button[data-bs-target="#content"] {

}

#site-links {

  /* margin-left: 610px; */
}

nav.bg-white {
  background-color: #ffffff;
}

div.row div {

}

/* .class:not(:last-child){
  display: flex;
  align-item: center;
} */

.fc {
  display: flex;
  align-items: center;
  justify-content: center;
}
