nav.bg-white {
  background-color: #ffffff;
}

.header-nav ul {
  list-style-type: none;
}

.contacts, .social-links, .languages {
  margin-bottom: 0px;
}

/* .d-flex {
  margin-bottom: 0px;
} */

.bg-dark li a {
  color: white
}

.languages > li:not(:last-child) {
  margin-right: 50px;
}

.languages > li {
  color: #ffffff;
}

.social-links > li:not(:last-child) {
  margin-right: 5px;
}
